name: Build Binary for different Platforms

on:
  push:
    branches: [ "main" ]

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Install Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install Conan
      run: |
        python -m pip install --upgrade pip
        pip install conan

    - name: Install CMake
      uses: jwlawson/actions-setup-cmake@v1

    - name: Run Install Dependencies Script
      run: |
        conan profile detect --force || true
        ./update_package

    - name: Run Build Script
      run: |
        ./build

    - name: Create ZIP Package
      run: |
        mkdir -p package
        ls bin/src/
        cp bin/src/snake.exe package/
        cp -r data package/
        powershell Compress-Archive -Path package/* -DestinationPath snake-windows.zip

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: snake-windows-zip
        path: snake-windows.zip

  build-linux:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Install Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Set up Conan
      run: |
        sudo apt-get update
        sudo apt-get install -y libudev-dev libgl-dev libgl1-mesa-dev

    - name: Install Conan
      run: |
        python -m pip install --upgrade pip
        pip install conan

    - name: Install CMake
      uses: jwlawson/actions-setup-cmake@v1

    - name: Run Install Dependencies Script
      run: |
        conan profile detect --force || true
        ./update_package

    - name: Run Build Script
      run: |
        ./build

    - name: Create ZIP Package
      run: |
        mkdir -p package
        ls bin/src/
        cp bin/src/snake package/
        cp -r data package/
        zip -r snake-linux.zip package/*

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: snake-linux-zip
        path: snake-linux.zip
