name: Build Binary for different Platforms

on:
  push:
    branches: [ "main" ]

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Install Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install Conan
      run: |
        python -m pip install --upgrade pip
        pip install conan

    - name: Install CMake
      uses: jwlawson/actions-setup-cmake@v1

    - name: Detect Conan profile
      run: |
        conan profile detect --force || true

    - name: Install Conan dependencies
      run: |
        conan install . -c tools.system.package_manager:mode=install --output-folder=bin --build=missing

    - name: Run Build Script
      run: |
        cmake . -B './bin' -DCMAKE_TOOLCHAIN_FILE='./bin/conan_toolchain.cmake' -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: |
        cmake --build bin --config Release

    - name: Create ZIP Package
      run: |
        tree /F /A
        mkdir -p snake-windows
        tree bin/
        cp bin/src/snake.exe snake-windows/
        cp -r data snake-windows/
        powershell Compress-Archive -Path snake-windows/* -DestinationPath snake-windows.zip

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: snake-windows
        path: snake-windows.zip

  build-linux:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Install Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install Conan
      run: |
        python -m pip install --upgrade pip
        pip install conan

    - name: Install CMake
      uses: jwlawson/actions-setup-cmake@v1

    - name: Detect conan profile
      run: |
        conan profile detect --force || true

    - name: Install Conan dependencies
      run: |
        ./update_package

    - name: Run Build Script
      run: |
        ./build

    - name: Create ZIP Package
      run: |
        mkdir -p snake-linux
        cp bin/src/snake snake-linux/
        cp -r data snake-linux/
        zip -r snake-linux.zip snake-linux/

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: snake-linux
        path: snake-linux.zip
