name: Build Binary for different Platforms

on:
  push:
    branches: [ "main" ]

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Install Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install Conan
      run: |
        python -m pip install --upgrade pip
        pip install conan

    - name: Install CMake
      uses: jwlawson/actions-setup-cmake@v1

    - name: Detect Conan profile
      run: |
        conan profile detect --force || true

    - name: Install Conan dependencies
      run: |
        conan install . -c tools.system.package_manager:mode=install --output-folder=bin --build=missing

    - name: Run Build Script
      run: |
        tree /F /A
        cmake . -B ./bin -DCMAKE_TOOLCHAIN_FILE=./bin/conan_toolchain.cmake -DCMAKE_BUILD_TYPE=Release
        cmake --build bin

    - name: Create ZIP Package
      run: |
        mkdir -p package
        tree bin/
        cp bin/src/snake.exe package/
        cp -r data package/
        powershell Compress-Archive -Path package/* -DestinationPath snake-windows.zip

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: snake-windows-zip
        path: snake-windows.zip

  build-linux:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Install Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install Conan
      run: |
        python -m pip install --upgrade pip
        pip install conan

    - name: Install CMake
      uses: jwlawson/actions-setup-cmake@v1

    - name: Detect conan profile
      run: |
        conan profile detect --force || true

    - name: Install Conan dependencies
      run: |
        ./update_package

    - name: Run Build Script
      run: |
        ./build

    - name: Create ZIP Package
      run: |
        mkdir -p package
        ls bin/src/
        cp bin/src/snake package/
        cp -r data package/
        zip -r snake-linux.zip package/*

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: snake-linux-zip
        path: snake-linux.zip
